{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenType API",
    "version": "0.1.0",
    "license": {
      "name": "Apache-2.0"
    },
    "description": "The OpenType HTTP API: decision runs on Neon 1.1, API keys, usage, quota and billing. Every `/v1` route takes `Authorization: Bearer <credential>`, where the credential is an API key (`otsk_` followed by 64 hex characters) or a console session token. Amounts are integers in micro-USD (1,000,000 = 1 US dollar). Errors share one envelope, `{\"error\": {\"code\", \"message\", \"request_id\"}}`. Stripe is named only where it hosts checkout, the billing portal and receipts."
  },
  "servers": [
    {
      "url": "https://api.opentype.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "health"
        ],
        "operationId": "healthz",
        "summary": "Liveness",
        "security": [],
        "description": "Public and unauthenticated. Answers `200` while the API process is up. It says nothing about dependencies; use `GET /readyz` for that.",
        "responses": {
          "200": {
            "description": "The process is up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "health"
        ],
        "operationId": "readyz",
        "summary": "Readiness",
        "security": [],
        "description": "Public and unauthenticated. Answers `200` with `status: \"ok\"` when every dependency needed to serve traffic is ready, and `503` with `status: \"unavailable\"` otherwise.",
        "responses": {
          "200": {
            "description": "Every required dependency is ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "A required dependency is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "create_run",
        "summary": "Create a run",
        "description": "Submits a run and returns its answer. The call is synchronous: it returns once the run has settled. Requires `runs_write`.\n\nNeon 1.1 serves decision runs (`\"kind\": \"decision\"`). A verdict run currently answers `503 no_route_available`.\n\n`Idempotency-Key` is required. Replaying a key with the same body returns the stored run with `replayed: true` and never charges again: `200` when the stored run is terminal (a failed run replays as `200` with `state: \"failed\"`), `202` when it is still `pending`. The same key with a different body is `409 idempotency_conflict`. Keys are scoped to your organization and never expire. After a `5xx` or `504`, retry with a new key.\n\nWhile it runs, a run holds its whole spend ceiling (at most 5,000 micro-USD) against your credit and quota; settlement charges the actual cost. See [Errors](/reference/errors) for every refusal.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1 to 255 bytes of visible ASCII text, unique per logical request. Reuse it only to retry the same body.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "example": "ticket-4822-triage"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRunRequest"
              },
              "example": {
                "kind": "decision",
                "model": "neon-1.1",
                "instructions": "You triage customer support tickets.",
                "state": {
                  "ticket": "I was charged twice this month and nobody answers my emails.",
                  "plan": "pro"
                },
                "questions": {
                  "urgent": {
                    "type": "noul",
                    "instructions": "reply within the hour?"
                  },
                  "bucket": {
                    "type": "choice",
                    "instructions": "which queue?",
                    "criteria": {
                      "billing": "payment problems",
                      "other": null
                    }
                  },
                  "tone": {
                    "type": "score",
                    "instructions": "how annoyed?",
                    "criteria": [
                      "calm",
                      "annoyed",
                      "furious"
                    ]
                  }
                },
                "question_order": [
                  "urgent",
                  "bucket",
                  "tone"
                ],
                "think_tokens": 64,
                "max_output_tokens": 16
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The settled run: a fresh run, or the replay of a terminal run (`replayed: true`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                },
                "example": {
                  "run_id": "run_a4314b6cc08f4bd8814099a613abeb44",
                  "kind": "decision",
                  "state": "completed",
                  "input_digest": "2e7d2c03a9507ae265ecf5b5356885a53393a2029d241394997265a1a25aefc6",
                  "output_digest": "18ac3e7343f016890c510e93f935261169d9e3f565436429830faf0934f4f8e4",
                  "decision": {
                    "answers": {
                      "bucket": {
                        "answered_within_labels": true,
                        "choice": "billing",
                        "confidence": 0.71,
                        "label_mass": 0.964,
                        "probabilities": {
                          "billing": 0.71,
                          "other": 0.29
                        },
                        "type": "choice"
                      },
                      "tone": {
                        "answered_within_labels": true,
                        "confidence": 0.46,
                        "label_mass": 0.98,
                        "legend": {
                          "0": "calm",
                          "1": "annoyed",
                          "2": "furious"
                        },
                        "probabilities": {
                          "0": 0.12,
                          "1": 0.42,
                          "2": 0.46
                        },
                        "score": 1.34,
                        "type": "score"
                      },
                      "urgent": {
                        "answered_within_labels": true,
                        "label_mass": 0.991,
                        "probability": 0.83,
                        "type": "noul"
                      }
                    },
                    "draws": 1,
                    "read": "slot_constrained",
                    "model": "neon-1.1",
                    "stages": [
                      [
                        "urgent",
                        "bucket",
                        "tone"
                      ]
                    ],
                    "thought_tokens": 48,
                    "thought_closed": true
                  },
                  "usage": {
                    "input_tokens": 412,
                    "output_tokens": 23
                  },
                  "cost_micros": 19,
                  "cost_basis": "provider_reported",
                  "replayed": false
                }
              }
            }
          },
          "202": {
            "description": "The replay of a run that is still `pending`. Send the request again with a new `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_body`, `idempotency_key_required`, `invalid_idempotency_key`, `invalid_verdict_schema`, `invalid_decision_questions` or `unknown_model`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "402": {
            "description": "`insufficient_credits`: your available credit does not cover the run's hold. Buy credit or enable auto-recharge; the same key is reusable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `runs_write`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "`idempotency_conflict`: this key was already used with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "413": {
            "description": "`body_too_large` (over 1 MiB) or `input_too_large` (the input estimate is over 64,000 tokens, or over the 3,968-token Neon 1.1 context).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "429": {
            "description": "`organization_spend_quota_exhausted` or `organization_token_quota_exhausted`: the quota for this period cannot cover the run. The same key is reusable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: an unexpected failure. Report the `request_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "The run could not be served: `no_route_available`, `decision_unavailable`, `budget_exhausted`, `verdict_schema_violation` (with `violations`), `catalog_unavailable`, `not_configured`, `database_unavailable`, `provider_unauthorized`, `provider_rate_limited`, `provider_rejected_request`, `provider_unavailable` or `provider_malformed_response`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "504": {
            "description": "`deadline_exceeded`: `deadline_ms` passed before the run finished.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "list_runs",
        "summary": "List runs",
        "description": "Lists your organization's runs, newest first. Requires `runs_read`.\n\nRows are stored runs: each carries `replayed: true` and no `verdict`, `decision`, `usage` or cost. Retrieve a run for its answer. Paging is by `limit` and `offset`; there is no cursor. See [Pagination](/guides/pagination).",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows per page, 1 to 100. Defaults to 20. Out-of-range values are clamped: 0 becomes 1, 500 becomes 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Rows to skip. Defaults to 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of runs. `limit` and `offset` echo the values applied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunListResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_body`: `limit` or `offset` is not a whole number, or another query parameter was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `runs_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: an unexpected failure. Report the `request_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_unavailable` or `not_configured`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/{run_id}": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "get_run",
        "summary": "Retrieve a run",
        "description": "Reads one run from stored state. Requires `runs_read`. Never calls the model, so reading a run is free.\n\nA completed run carries its `verdict` or `decision`, plus `usage` and `cost_micros`. Stored reads omit `cost_basis` and `schema_enforcement`, and a stored decision omits `model`, `stages` and the thought fields. A run that is not completed returns the run without an answer.",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "`run_` followed by 32 hex characters, as the API returns it. The hyphenated form the usage routes return is also accepted.",
            "schema": {
              "type": "string",
              "example": "run_a4314b6cc08f4bd8814099a613abeb44"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The run as stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_run_id`: not `run_` followed by a UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `runs_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`run_not_found`: no run with this id in your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: an unexpected failure. Report the `request_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_unavailable` or `not_configured`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/{run_id}/stream": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "stream_run",
        "summary": "Stream a run",
        "description": "Returns the run's stored state as server-sent events, then closes. Requires `runs_read`. Never calls the model, so it cannot charge.\n\nThe body is one snapshot: a `state` event (`{run_id, state}`), then, only when the run is `completed` or `failed`, a `terminal` event with `run_id`, `state`, `input_digest` and `output_digest` (possibly `null`). A completed run's `terminal` event adds `kind` and the whole `verdict` or `decision`. There are no partial-answer events, no `id:` or `retry:` fields, and `Last-Event-ID` is not read. The stream does not wait for a `pending` run: request it again, or poll `GET /v1/runs/{run_id}`. Errors before the stream starts are JSON. See [Streaming](/guides/streaming).",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "`run_` followed by 32 hex characters, as the API returns it. The hyphenated form the usage routes return is also accepted.",
            "schema": {
              "type": "string",
              "example": "run_a4314b6cc08f4bd8814099a613abeb44"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`text/event-stream`, sent with `cache-control: no-cache, no-store`. Each frame is `event: <name>` and one `data:` line of JSON.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: state\ndata: {\"run_id\":\"run_a4314b6cc08f4bd8814099a613abeb44\",\"state\":\"completed\"}\n\nevent: terminal\ndata: {\"decision\":{\"answers\":{\"urgent\":{\"probability\":0.83,\"type\":\"noul\"}},\"draws\":1,\"read\":\"slot_constrained\"},\"input_digest\":\"2e7d2c03a9507ae265ecf5b5356885a53393a2029d241394997265a1a25aefc6\",\"kind\":\"decision\",\"output_digest\":\"18ac3e7343f016890c510e93f935261169d9e3f565436429830faf0934f4f8e4\",\"run_id\":\"run_a4314b6cc08f4bd8814099a613abeb44\",\"state\":\"completed\"}\n\n"
              }
            }
          },
          "400": {
            "description": "`invalid_run_id`: not `run_` followed by a UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `runs_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`run_not_found`: no run with this id in your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: an unexpected failure. Report the `request_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_unavailable` or `not_configured`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys": {
      "post": {
        "tags": [
          "keys"
        ],
        "operationId": "create_key",
        "summary": "Create an API key",
        "description": "Creates a key and returns its secret once, in `secret`. Store it now: no other response carries it, and a lost secret is rotated, not recovered.\n\nRequires `keys_write`; a `service_account` principal also needs `members_write`. Every requested scope must be one the caller holds. Scopes are sorted, deduplicated and fixed at creation. Keys do not expire. See [API keys](/console/api-keys).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyRequest"
              },
              "example": {
                "name": "ci-pipeline",
                "scopes": [
                  "runs_write",
                  "runs_read"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The key, with its `secret`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyWithSecretResponse"
                },
                "example": {
                  "id": "key_d92a9043204d41c09c78fc813d54ef06",
                  "name": "ci-pipeline",
                  "principal": {
                    "type": "user",
                    "id": "user_example"
                  },
                  "scopes": [
                    "runs_read",
                    "runs_write"
                  ],
                  "state": "active",
                  "secret_prefix": "otsk_fde66231",
                  "created_by": "user_example",
                  "created_at": "2026-09-24T10:12:03Z",
                  "last_used_at": null,
                  "revoked_at": null,
                  "secret": "otsk_..."
                }
              }
            }
          },
          "400": {
            "description": "`empty_scopes`: `scopes` is empty. Malformed JSON gets a plain-text `400`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied` (needs `keys_write`), `scope_exceeds_creator` (a requested scope the caller does not hold) or `principal_is_not_the_caller`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "413": {
            "description": "The body is over 1 MiB. Plain-text body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "415": {
            "description": "`Content-Type: application/json` is missing. Plain-text body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "An unknown field, a wrong type or a missing required field. Plain-text body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "keys"
        ],
        "operationId": "list_keys",
        "summary": "List API keys",
        "description": "Every key in your organization, newest first, revoked keys included. No pagination. Never returns a secret. Requires `keys_read`.",
        "responses": {
          "200": {
            "description": "Your organization's keys, without secrets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyListResponse"
                },
                "example": {
                  "keys": [
                    {
                      "id": "key_d92a9043204d41c09c78fc813d54ef06",
                      "name": "ci-pipeline",
                      "principal": {
                        "type": "user",
                        "id": "user_example"
                      },
                      "scopes": [
                        "runs_read",
                        "runs_write"
                      ],
                      "state": "active",
                      "secret_prefix": "otsk_fde66231",
                      "created_by": "user_example",
                      "created_at": "2026-09-24T10:12:03Z",
                      "last_used_at": null,
                      "revoked_at": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `keys_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/{key_id}": {
      "get": {
        "tags": [
          "keys"
        ],
        "operationId": "read_key",
        "summary": "Retrieve an API key",
        "description": "Reads one key's metadata, without its secret. Requires `keys_read`. A key in another organization is `404`.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "description": "The key's `id`: `key_` followed by 32 hex characters. Never the secret.",
            "schema": {
              "type": "string",
              "example": "key_d92a9043204d41c09c78fc813d54ef06"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The key, without its secret.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyResponse"
                },
                "example": {
                  "id": "key_d92a9043204d41c09c78fc813d54ef06",
                  "name": "ci-pipeline",
                  "principal": {
                    "type": "user",
                    "id": "user_example"
                  },
                  "scopes": [
                    "runs_read",
                    "runs_write"
                  ],
                  "state": "active",
                  "secret_prefix": "otsk_fde66231",
                  "created_by": "user_example",
                  "created_at": "2026-09-24T10:12:03Z",
                  "last_used_at": null,
                  "revoked_at": null
                }
              }
            }
          },
          "400": {
            "description": "`secret_in_path` (the value starts with `otsk_`: rotate that key now, then call again with its `key_` id) or `malformed_key_id` (the value does not start with `key_`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `keys_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`key_not_found`: no such key in your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "keys"
        ],
        "operationId": "revoke_key",
        "summary": "Revoke an API key",
        "description": "Revokes a key. It stops authenticating immediately. Requires `keys_write`.\n\nIdempotent: revoking a revoked key returns `200` with the original `revoked_at`. A revoked key is never deleted; it stays in the list with `state: \"revoked\"`.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "description": "The key's `id`: `key_` followed by 32 hex characters. Never the secret.",
            "schema": {
              "type": "string",
              "example": "key_d92a9043204d41c09c78fc813d54ef06"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The key, now `revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "`secret_in_path` (the value starts with `otsk_`: rotate that key now, then call again with its `key_` id) or `malformed_key_id` (the value does not start with `key_`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `keys_write`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`key_not_found`: no such key in your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/{key_id}/rotate": {
      "post": {
        "tags": [
          "keys"
        ],
        "operationId": "rotate_key",
        "summary": "Rotate an API key",
        "description": "Issues a new secret for the same key `id`, name and scopes, and returns it once. Requires `keys_write`.\n\nThe old secret stops working immediately; there is no overlap window. A revoked key cannot be rotated. See [Key rotation](/guides/key-rotation).",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "description": "The key's `id`: `key_` followed by 32 hex characters. Never the secret.",
            "schema": {
              "type": "string",
              "example": "key_d92a9043204d41c09c78fc813d54ef06"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The key, with its new `secret`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyWithSecretResponse"
                }
              }
            }
          },
          "400": {
            "description": "`secret_in_path` (the value starts with `otsk_`: rotate that key now, then call again with its `key_` id) or `malformed_key_id` (the value does not start with `key_`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `keys_write`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`key_not_found`: no such key in your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "`key_revoked`: a revoked key cannot be rotated. Create a new key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "usage"
        ],
        "operationId": "organization_usage",
        "summary": "Usage rollup",
        "description": "Run counts, tokens and spend for your organization over a window. Requires `usage_read`.\n\nThe window is half-open, `[start_at, end_at)`, and counts runs created inside it. Omit both bounds for the current UTC calendar month.",
        "parameters": [
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "description": "Window start, exactly `YYYY-MM-DDTHH:MM:SSZ` (UTC), inclusive. Send it with `end_at`; omit both for the current UTC calendar month.",
            "schema": {
              "type": "string",
              "example": "2026-09-01T00:00:00Z"
            }
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "description": "Window end, exactly `YYYY-MM-DDTHH:MM:SSZ` (UTC), exclusive. Send it with `start_at`.",
            "schema": {
              "type": "string",
              "example": "2026-10-01T00:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage for the window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationUsageResponse"
                },
                "example": {
                  "organization_id": "org_example",
                  "window": {
                    "start_at": "2026-09-01T00:00:00Z",
                    "end_at": "2026-10-01T00:00:00Z"
                  },
                  "runs": {
                    "total": 3,
                    "completed": 2,
                    "failed": 0,
                    "in_flight": 1
                  },
                  "tokens": {
                    "input_tokens": 824,
                    "output_tokens": 46,
                    "total_tokens": 870
                  },
                  "spend": {
                    "reserved_micros": 5038,
                    "settled_micros": 38,
                    "unsettled_micros": 5000
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_parameter`: a malformed window, `start_at` not before `end_at`, or one bound without the other. An unknown query parameter gets a plain-text `400`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `usage_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: an unexpected failure. Report the `request_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`: accounting storage is unavailable. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage/daily": {
      "get": {
        "tags": [
          "usage"
        ],
        "operationId": "daily_usage",
        "summary": "Daily usage",
        "description": "One row per UTC day: runs created that day, their tokens and their spend. Requires `usage_read`.\n\nRows run from the start date through the day of the last instant before `end_at`, oldest first. Days without activity are present at zero. The window spans at most 92 days; omit both bounds for the current UTC calendar month.",
        "parameters": [
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "description": "Window start, exactly `YYYY-MM-DDTHH:MM:SSZ` (UTC), inclusive. Send it with `end_at`; omit both for the current UTC calendar month.",
            "schema": {
              "type": "string",
              "example": "2026-09-01T00:00:00Z"
            }
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "description": "Window end, exactly `YYYY-MM-DDTHH:MM:SSZ` (UTC), exclusive. Send it with `start_at`. At most 92 days after `start_at`.",
            "schema": {
              "type": "string",
              "example": "2026-10-01T00:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One row per UTC day.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyUsageResponse"
                },
                "example": {
                  "organization_id": "org_example",
                  "window": {
                    "start_at": "2026-09-22T00:00:00Z",
                    "end_at": "2026-09-25T00:00:00Z"
                  },
                  "days": [
                    {
                      "date": "2026-09-22",
                      "runs": 0,
                      "input_tokens": 0,
                      "output_tokens": 0,
                      "spend_micros": 0
                    },
                    {
                      "date": "2026-09-23",
                      "runs": 1,
                      "input_tokens": 412,
                      "output_tokens": 23,
                      "spend_micros": 19
                    },
                    {
                      "date": "2026-09-24",
                      "runs": 2,
                      "input_tokens": 412,
                      "output_tokens": 23,
                      "spend_micros": 19
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`invalid_parameter`: a malformed window, `start_at` not before `end_at`, one bound without the other, or a window over 92 days. An unknown query parameter gets a plain-text `400`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `usage_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: an unexpected failure. Report the `request_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`: accounting storage is unavailable. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage/ledger": {
      "get": {
        "tags": [
          "usage"
        ],
        "operationId": "usage_ledger",
        "summary": "Usage ledger",
        "description": "The spend and token ledger: one entry per model attempt, newest first. Requires `usage_read`.\n\nThe window filters on when each attempt was recorded. There is no offset: narrow the window to read further back.",
        "parameters": [
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "description": "Window start, exactly `YYYY-MM-DDTHH:MM:SSZ` (UTC), inclusive. Send it with `end_at`; omit both for the current UTC calendar month.",
            "schema": {
              "type": "string",
              "example": "2026-09-01T00:00:00Z"
            }
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "description": "Window end, exactly `YYYY-MM-DDTHH:MM:SSZ` (UTC), exclusive. Send it with `start_at`.",
            "schema": {
              "type": "string",
              "example": "2026-10-01T00:00:00Z"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Entries to return. Defaults to 50; values above 200 are clamped to 200. `0` is refused.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger entries for the window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_parameter`: a malformed window, one bound without the other, or `limit=0`. An unknown query parameter gets a plain-text `400`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `usage_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: an unexpected failure. Report the `request_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`: accounting storage is unavailable. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage/runs/{run_id}": {
      "get": {
        "tags": [
          "usage"
        ],
        "operationId": "run_usage",
        "summary": "Run usage",
        "description": "One run's tokens, spend and spend ceiling, with the attempts that produced them. Requires `usage_read`.\n\nAccepts `run_` followed by 32 hex characters or by a hyphenated UUID, in either case, and returns the hyphenated form.",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "description": "`run_` followed by 32 hex characters or by a hyphenated UUID.",
            "schema": {
              "type": "string",
              "example": "run_a4314b6cc08f4bd8814099a613abeb44"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage for the run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunUsageResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_parameter`: the id does not start with `run_`, or does not carry a UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `usage_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`run_not_found`: no run with this id in your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: an unexpected failure. Report the `request_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`: accounting storage is unavailable. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quota": {
      "get": {
        "tags": [
          "usage"
        ],
        "operationId": "organization_quota",
        "summary": "Quota",
        "description": "Your organization's quota limits for the current period, the UTC calendar month, and what is left. These are the numbers run admission enforces. Requires `usage_read`. Takes no parameters.",
        "responses": {
          "200": {
            "description": "Limits and remaining allowance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaResponse"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `usage_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`: an unexpected failure. Report the `request_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`database_not_configured` or `database_unavailable`: accounting storage is unavailable. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "get_billing",
        "summary": "Get billing",
        "description": "Your credit balance, auto-recharge settings, whether a card is saved, and the last 50 transactions, newest first. Requires `billing_read`.",
        "responses": {
          "200": {
            "description": "Balance and history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingResponse"
                },
                "example": {
                  "organization_id": "org_example",
                  "balance_micros": 24981000,
                  "currency": "usd",
                  "auto_recharge": {
                    "enabled": true,
                    "threshold_micros": 5000000,
                    "amount_micros": 20000000
                  },
                  "has_payment_method": true,
                  "transactions": [
                    {
                      "id": "txn_usage_20260924",
                      "kind": "usage",
                      "amount_micros": -19000,
                      "description": "Usage on 2026-09-24",
                      "created_at": "2026-09-24T00:00:00Z"
                    },
                    {
                      "id": "txn_5dc319db99f644e8b8f55ce6b7f55fed",
                      "kind": "purchase",
                      "amount_micros": 25000000,
                      "description": "Credit purchase",
                      "created_at": "2026-09-20T14:02:11Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `billing_read`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`billing_not_configured`, `database_not_configured` or `database_unavailable`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "create_checkout",
        "summary": "Create a checkout",
        "description": "Creates a Stripe Checkout page for a credit purchase and returns its URL. Requires `billing_write`.\n\n`amount_micros` is $5 to $1,000 in whole cents. Paying saves the card for auto-recharge, and both success and cancel return to the console's billing page. The credit is added once the payment is confirmed, not by this response. Returns `200`, not `201`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              },
              "example": {
                "amount_micros": 25000000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Where to send the user to pay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_amount`: outside 5,000,000 to 1,000,000,000, or not a whole number of cents. Malformed JSON gets a plain-text `400`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `billing_write`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "413": {
            "description": "The body is over 1 MiB. Plain-text body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "415": {
            "description": "`Content-Type: application/json` is missing. Plain-text body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "An unknown field, a wrong type or a missing required field. Plain-text body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "`billing_not_configured`, `stripe_unavailable` (the payment provider did not answer), `database_not_configured` or `database_unavailable`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/portal": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "create_portal",
        "summary": "Open the billing portal",
        "description": "Returns a URL to the Stripe billing portal, where you manage saved cards and download receipts and invoices. It returns to the console's billing page. Requires `billing_write`. Takes no body.",
        "responses": {
          "200": {
            "description": "Where to send the user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalResponse"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `billing_write`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`billing_not_configured`, `stripe_unavailable` (the payment provider did not answer), `database_not_configured` or `database_unavailable`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/auto-recharge": {
      "put": {
        "tags": [
          "billing"
        ],
        "operationId": "set_auto_recharge",
        "summary": "Set auto-recharge",
        "description": "Stores auto-recharge settings and returns the updated billing state. Requires `billing_write`.\n\nWhen enabled, and a card is saved, the server checks after each run admission and after each `402`: if the available balance is below `threshold_micros`, it charges `amount_micros` to the saved card, at most once per organization per clock hour. The credit lands when the payment succeeds. See [Auto-recharge](/guides/auto-recharge).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoRechargeRequest"
              },
              "example": {
                "enabled": true,
                "threshold_micros": 5000000,
                "amount_micros": 20000000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated billing state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_amount`: `amount_micros` outside the checkout bounds, `threshold_micros` above 1,000,000,000, or either number missing while `enabled` is `true`. Malformed JSON gets a plain-text `400`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "`missing_credentials` (no bearer credential) or `invalid_credential` (malformed, unknown or revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "`scope_denied`: the credential lacks `billing_write`. A session without an organization gets `no_active_organization`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "413": {
            "description": "The body is over 1 MiB. Plain-text body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "415": {
            "description": "`Content-Type: application/json` is missing. Plain-text body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "An unknown field, a wrong type or a missing required field. Plain-text body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "`billing_not_configured`, `database_not_configured` or `database_unavailable`. Also `auth_not_configured` or `trust_keys_unavailable` when credentials cannot be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "runs",
      "description": "Create, list, retrieve and stream runs."
    },
    {
      "name": "keys",
      "description": "Create, list, rotate and revoke API keys."
    },
    {
      "name": "usage",
      "description": "Usage rollups, the daily series, the ledger and quota."
    },
    {
      "name": "billing",
      "description": "Credit balance, checkout, the billing portal and auto-recharge."
    },
    {
      "name": "health",
      "description": "Public liveness and readiness checks."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key (otsk_ + 64 hex) or a console session token."
      }
    },
    "schemas": {
      "AutoRechargeRequest": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "threshold_micros": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0,
            "maximum": 1000000000,
            "description": "Required when `enabled` is `true`. At most 1,000,000,000."
          },
          "amount_micros": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0,
            "description": "Required when `enabled` is `true`. 5,000,000 to 1,000,000,000, in whole cents."
          }
        },
        "additionalProperties": false,
        "description": "Auto-recharge settings. Unknown fields are refused."
      },
      "AutoRechargeSettings": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "threshold_micros": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0,
            "description": "Recharge when the available balance falls below this. May be `null`."
          },
          "amount_micros": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0,
            "description": "How much to buy. May be `null`."
          }
        }
      },
      "BillingResponse": {
        "type": "object",
        "required": [
          "organization_id",
          "balance_micros",
          "currency",
          "auto_recharge",
          "has_payment_method",
          "transactions"
        ],
        "properties": {
          "organization_id": {
            "type": "string"
          },
          "balance_micros": {
            "type": "integer",
            "format": "int64",
            "description": "Signed. Credits, minus settled spend, minus what unsettled runs hold."
          },
          "currency": {
            "$ref": "#/components/schemas/Currency",
            "description": "Always `usd`."
          },
          "auto_recharge": {
            "$ref": "#/components/schemas/AutoRechargeSettings"
          },
          "has_payment_method": {
            "type": "boolean",
            "description": "Whether a card is saved for auto-recharge."
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingTransaction"
            },
            "description": "Newest first, at most 50."
          }
        }
      },
      "BillingTransaction": {
        "type": "object",
        "required": [
          "id",
          "kind",
          "amount_micros",
          "description",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "`txn_` followed by 32 hex characters, or `txn_usage_YYYYMMDD` for one day's usage."
          },
          "kind": {
            "$ref": "#/components/schemas/BillingTransactionKind"
          },
          "amount_micros": {
            "type": "integer",
            "format": "int64",
            "description": "Signed: positive adds credit, negative spends it."
          },
          "description": {
            "type": "string",
            "description": "For example `Credit purchase`, `Auto-recharge` or `Usage on 2026-09-24`."
          },
          "created_at": {
            "type": "string",
            "description": "A usage row is dated 00:00:00Z of its day."
          }
        }
      },
      "BillingTransactionKind": {
        "type": "string",
        "enum": [
          "purchase",
          "grant",
          "usage",
          "refund",
          "adjustment"
        ]
      },
      "CapabilityHint": {
        "type": "string",
        "enum": [
          "chat",
          "reasoning",
          "tools",
          "vision",
          "streaming",
          "embedding",
          "structured_read"
        ],
        "description": "A routing capability. A hint can only narrow the routes considered."
      },
      "CheckoutRequest": {
        "type": "object",
        "required": [
          "amount_micros"
        ],
        "properties": {
          "amount_micros": {
            "type": "integer",
            "format": "int64",
            "minimum": 5000000,
            "maximum": 1000000000,
            "multipleOf": 10000,
            "description": "5,000,000 to 1,000,000,000 ($5 to $1,000), a multiple of 10,000 (whole cents)."
          }
        },
        "additionalProperties": false,
        "description": "A credit purchase. Unknown fields are refused."
      },
      "CheckoutResponse": {
        "type": "object",
        "required": [
          "checkout_url"
        ],
        "properties": {
          "checkout_url": {
            "type": "string",
            "description": "A Stripe-hosted checkout page. Send the user there to pay."
          }
        }
      },
      "CostBasis": {
        "type": "string",
        "enum": [
          "provider_reported",
          "estimated"
        ],
        "description": "`provider_reported`: the usage the model reported. `estimated`: the pre-call estimate at list prices."
      },
      "CreateKeyRequest": {
        "type": "object",
        "required": [
          "name",
          "scopes"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "A label shown in the console. Not unique."
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scope"
            },
            "description": "At least one scope, each held by the caller."
          },
          "principal": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/KeyPrincipal"
              }
            ],
            "description": "Who the key acts as. Omit it to act as yourself. A `service_account` needs `members_write`; another user's id is `403 principal_is_not_the_caller`."
          }
        },
        "additionalProperties": false,
        "description": "A new key. Unknown fields are refused."
      },
      "CreateRunRequest": {
        "type": "object",
        "required": [
          "max_output_tokens"
        ],
        "properties": {
          "kind": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RunKind"
              }
            ],
            "default": "verdict",
            "description": "`decision` or `verdict`. Defaults to `verdict`, so send `decision` explicitly for a decision run."
          },
          "model": {
            "type": "string",
            "enum": [
              "neon-1.1",
              "neon-latest"
            ],
            "description": "Decision runs only. `neon-1.1`, or `neon-latest`, which resolves to `neon-1.1`. Any other value is `400 unknown_model`."
          },
          "system": {
            "type": [
              "string",
              "null"
            ],
            "description": "Verdict runs only. A system prompt."
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunMessage"
            },
            "minItems": 1,
            "description": "Verdict runs only, and required for them. At least one prompt turn."
          },
          "schema": {
            "type": "object",
            "description": "Verdict runs only, and required for them. The JSON Schema the verdict must satisfy: an object of at most 32 KiB, nesting depth 12, 64 subschemas and 512 properties, `pattern` values of at most 256 characters, and only local `#` references. Out of bounds is `400 invalid_verdict_schema`."
          },
          "state": {
            "description": "Decision runs only, and required for them. What is being decided about: any JSON value. A string is sent as-is; anything else as its JSON text."
          },
          "instructions": {
            "type": [
              "string",
              "null"
            ],
            "description": "Decision runs only. Context that applies to every question."
          },
          "questions": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "$ref": "#/components/schemas/DecisionQuestionRequest"
            },
            "propertyNames": {
              "type": "string"
            },
            "description": "Decision runs only, and required for them. 1 to 64 questions keyed by your own ids. An id must be non-empty and must not contain `:` or a newline. Out of bounds is `400 invalid_decision_questions`."
          },
          "draws": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "minimum": 1,
            "maximum": 8,
            "default": 1,
            "description": "Decision runs only. Independent reads to average, 1 to 8. Defaults to 1."
          },
          "think_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "minimum": 0,
            "maximum": 4096,
            "default": 0,
            "description": "Decision runs only. Tokens the model may think before answering, 0 to 4096. Defaults to 0. The thought text is never returned."
          },
          "capability_hint": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CapabilityHint"
            },
            "maxItems": 7,
            "uniqueItems": true,
            "description": "Optional routing hints. At most 7, no duplicates. Hints can only narrow routing. Hint errors are reported as `invalid_verdict_schema` on either kind."
          },
          "max_output_tokens": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Required. Output tokens the run may generate, greater than 0. Counts toward the token quota estimate."
          },
          "deadline_ms": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0,
            "default": 30000,
            "description": "Time budget in milliseconds. Defaults to 30000. Clamped to 1 to 120000. Past it the run is `504 deadline_exceeded`."
          },
          "question_order": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Decision runs only. Your question order; it must name exactly the keys of `questions`. Defaults to sorted key order."
          }
        },
        "additionalProperties": false,
        "description": "A run. `kind` selects a decision (`state` plus `questions`) or a verdict (`messages` plus `schema`), and defaults to `verdict`. `max_output_tokens` is required on every run. Unknown fields are refused, and a field that belongs to the other kind is `400 invalid_body`."
      },
      "Currency": {
        "type": "string",
        "enum": [
          "usd"
        ]
      },
      "DailyUsageBody": {
        "type": "object",
        "required": [
          "date",
          "runs",
          "input_tokens",
          "output_tokens",
          "spend_micros"
        ],
        "properties": {
          "date": {
            "type": "string",
            "description": "`YYYY-MM-DD`, UTC."
          },
          "runs": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Runs created that day."
          },
          "input_tokens": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "output_tokens": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "spend_micros": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Attempt cost of those runs, in micro-USD."
          }
        }
      },
      "DailyUsageResponse": {
        "type": "object",
        "required": [
          "organization_id",
          "window",
          "days"
        ],
        "properties": {
          "organization_id": {
            "type": "string"
          },
          "window": {
            "$ref": "#/components/schemas/UsageWindowBody"
          },
          "days": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyUsageBody"
            },
            "description": "One row per UTC day, oldest first. Days without activity are present at zero."
          }
        }
      },
      "DecisionQuestionRequest": {
        "oneOf": [
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/SharedQuestionFields"
              },
              {
                "type": "object",
                "required": [
                  "instructions"
                ],
                "properties": {
                  "instructions": {
                    "type": "string"
                  },
                  "criteria": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/components/schemas/NoulCriteria"
                      }
                    ],
                    "description": "Optional descriptions of what `true` and `false` mean."
                  }
                }
              },
              {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "noul"
                    ]
                  }
                }
              }
            ],
            "title": "noul",
            "description": "A yes/no question. Its answer names are `yes` and `no`; the answer's `probability` is P(yes)."
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/SharedQuestionFields"
              },
              {
                "type": "object",
                "required": [
                  "instructions",
                  "criteria"
                ],
                "properties": {
                  "instructions": {
                    "type": "string"
                  },
                  "criteria": {
                    "type": "object",
                    "additionalProperties": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "propertyNames": {
                      "type": "string"
                    },
                    "description": "Option name to an optional description, or `null`."
                  }
                }
              },
              {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "choice"
                    ]
                  }
                }
              }
            ],
            "title": "choice",
            "description": "A closed option set. The option names are the answer names."
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/SharedQuestionFields"
              },
              {
                "type": "object",
                "required": [
                  "instructions",
                  "criteria"
                ],
                "properties": {
                  "instructions": {
                    "type": "string"
                  },
                  "criteria": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Level names, in order."
                  }
                }
              },
              {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "score"
                    ]
                  }
                }
              }
            ],
            "title": "score",
            "description": "Ordered levels. Answers are keyed by 0-based level index."
          }
        ],
        "description": "One question, selected by `type`: `noul` (yes or no), `choice` (a closed option set) or `score` (ordered levels). Each needs 2 to 20 alternatives with unique names; `noul` always has 2. Unknown keys are refused."
      },
      "DecisionReadResponse": {
        "type": "string",
        "enum": [
          "slot_constrained",
          "reconstructed"
        ]
      },
      "DecisionResponse": {
        "type": "object",
        "required": [
          "answers",
          "draws",
          "read"
        ],
        "properties": {
          "answers": {
            "description": "One answer per question, keyed by your question ids. Shapes by `type`: `noul` has `probability`, which is P(yes); `choice` has `choice`, `probabilities` keyed by option name, and `confidence`; `score` has `score` (the expected 0-based level index), `legend`, `probabilities` keyed by index, and `confidence`; `skipped` has `because` (`question`, `answered` when known, `required`) when an `ask_if` failed. Any answer may carry `label_mass` and `answered_within_labels`. Every probability and confidence is between 0 and 1."
          },
          "draws": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "description": "Reads averaged."
          },
          "read": {
            "$ref": "#/components/schemas/DecisionReadResponse",
            "description": "What constrained the answers. Only `slot_constrained` is produced today."
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "description": "Live responses only. The model that served the run: `neon-1.1`."
          },
          "stages": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Live responses only. Question ids per stage, in the order the stages ran."
          },
          "thought_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "minimum": 0,
            "description": "Live responses only, when thought tokens were generated. The thought text is never returned."
          },
          "thought_closed": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Live responses only, with `thought_tokens`."
          }
        },
        "description": "A decision's answers."
      },
      "ErrorBody": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        },
        "description": "The error envelope, shared by every route. Branch on `error.code`."
      },
      "ErrorDetail": {
        "type": "object",
        "required": [
          "code",
          "message",
          "request_id"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable snake_case code. The only field to branch on."
          },
          "message": {
            "type": "string",
            "description": "For people. It may change, and it never contains model output."
          },
          "request_id": {
            "type": "string",
            "description": "The request id, also sent in the `x-request-id` response header. Quote it when you report a problem."
          },
          "violations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only on `verdict_schema_violation`: up to 10 JSON Pointers into the rejected document."
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "service"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "`ok`, or `unavailable` from `/readyz`."
          },
          "service": {
            "type": "string",
            "description": "An opaque label. Do not depend on its value."
          }
        }
      },
      "KeyListResponse": {
        "type": "object",
        "required": [
          "keys"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyResponse"
            },
            "description": "Newest first, revoked keys included."
          }
        }
      },
      "KeyPrincipal": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "id",
              "type"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "The user's id."
              },
              "type": {
                "type": "string",
                "enum": [
                  "user"
                ]
              }
            },
            "title": "user"
          },
          {
            "type": "object",
            "required": [
              "id",
              "type"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "An id you choose for the service account."
              },
              "type": {
                "type": "string",
                "enum": [
                  "service_account"
                ]
              }
            },
            "title": "service_account"
          }
        ],
        "description": "Who a key acts as: a user, or a service account owned by the organization."
      },
      "KeyResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "principal",
          "scopes",
          "state",
          "secret_prefix",
          "created_by",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "`key_` followed by 32 hex characters. Not a secret; this is what goes in URLs."
          },
          "name": {
            "type": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/KeyPrincipal"
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scope"
            },
            "description": "Sorted, and fixed at creation."
          },
          "state": {
            "$ref": "#/components/schemas/KeyState"
          },
          "secret_prefix": {
            "type": "string",
            "description": "The first 13 characters of the secret (`otsk_` plus 8), for display."
          },
          "created_by": {
            "type": "string",
            "description": "Who created the key."
          },
          "created_at": {
            "type": "string",
            "description": "UTC, `YYYY-MM-DDTHH:MM:SSZ`."
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Best effort, updated at most about once a minute. `null` until first use."
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "`null` unless the key is revoked."
          }
        },
        "description": "A key without its secret."
      },
      "KeyState": {
        "type": "string",
        "enum": [
          "active",
          "revoked"
        ],
        "description": "A revoked key is kept, never deleted."
      },
      "KeyWithSecretResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/KeyResponse"
          },
          {
            "type": "object",
            "required": [
              "secret"
            ],
            "properties": {
              "secret": {
                "type": "string"
              }
            }
          }
        ],
        "description": "A key with its secret. Only create and rotate return this."
      },
      "LedgerEntryBody": {
        "type": "object",
        "required": [
          "run_id",
          "retry_ordinal",
          "provider",
          "model_id",
          "status",
          "tokens",
          "cost_micros",
          "created_at"
        ],
        "properties": {
          "run_id": {
            "type": "string",
            "description": "The run, in hyphenated form (`run_xxxxxxxx-xxxx-...`). Both run id forms are accepted everywhere."
          },
          "retry_ordinal": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "description": "The attempt's position within its run."
          },
          "provider": {
            "type": "string",
            "description": "`opentype`."
          },
          "model_id": {
            "type": "string",
            "description": "`neon-1.1`."
          },
          "provider_request_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "May be `null`."
          },
          "status": {
[...]
